body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1,
h2 {
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
    /* Add extra padding to the bottom of the container */
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px 0;
}

button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.chart-container {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

/* New styles for prediction form */
.prediction-form {
    margin-top: 40px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.prediction-form label {
    display: block;
    margin: 10px 0 5px;
}

.prediction-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#prediction-result {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}